/*Body*/

/*
    COLORS
    #879EFF
    #837BE8
    #B994FF
    #BF7BE8
    #F287FF
*/
body{
    background-color: #879EFF;
}

/*HEADER*/


a{
    text-decoration: none;
}

.header-container {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #837BE8;
    align-items: center;
}

.header-elements-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
}

.items-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.items-container li {
    margin: 10px;
    color: white;
    background-color: #BF7BE8;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    
}

.active li{
    background-color: #F287FF;
    text-decoration: none;
}

/*MAIN CONTAINER*/

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-content-title {
    display: flex;
    flex-direction: column;
    width: 40rem;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;

}

/*Formulario*/

.mb-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-sub{
    margin: 10px;
    color: white;
    background-color: #BF7BE8;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.button-sub {
    margin: 20px;
    background-color: #F287FF;
    border: #879EFF;
}

.button-sub:hover {
    /* margin: 20px; */
    background-color: #BF7BE8;
    color: aliceblue;
}
.button-sub:active {
    /* margin: 20px; */
    background-color: #837BE8;
    color: aliceblue;
}

/*Footer*/

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #B994FF;
    position: absolute;
    bottom: 0;
}